<section class="container mx-auto flex justify-center pt-24">
    <div>
        <h1 class="text-6xl font-bold text-red-400">404</h1>
        <h3 class="pb-4 text-red-600">Sorry!!! no pizzzaasss available here</h3>
        <a href="/"><img src="/img/hero-pizza.png" width="100px" alt="hero pizza"/></a>
    </div>
</section>